.error {
  outline: red 1px solid;
  box-shadow: inset 0 0 1px 2px rgb(204, 0, 0, 0.8);
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: #00ff15;
}

.isDone {
  opacity: 0.5;
}

.list {
  list-style-type: none;
  padding: 0;
  align-self: flex-start;
  overflow-y: auto;
  width: 100%;
  max-height: calc(80vh - 340px);
}

.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #1975d1;
  border-radius: 5px;
}

.list::-webkit-scrollbar-track {
  background-color: #ecf0f1;
  border-radius: 5px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.deleteText {
  font-size: 12px;
}

.task {
  display: flex;
  align-items: center;
}

.taskText {
  word-break: break-word;
}
