.contentWrapper {
  padding: 20px 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-x: auto;
  height: 100%;
}

.contentWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(64, 161, 232, 0.6);
  border-radius: 5px;
}

.contentWrapper::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(0, 23, 40, 0.50);
}


.listsWrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 50px;
}

.preloader {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}

.preloaderPlace {
  height: 3px;
}
