.contentWrapper {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.listsWrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 50px;
}

.preloader {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}

.preloaderPlace {
  height: 3px;
}

/*.app {*/
/*  background-image: url("./bg.jpg");*/
/*  background-size: cover;*/
/*  background-repeat: repeat;*/
/*  background-position: center;*/
/*  height: 100vh;*/
/*}*/
