.error {
  outline: red 1px solid;
  box-shadow: inset 0 0 1px 2px rgb(204, 0, 0, 0.8);
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: #00ff15;
}

.isDone {
  opacity: 0.5;
}

.list {
  list-style-type: none;
  padding: 0;
  align-self: flex-start;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.deleteText {
  font-size: 12px;
}
